<launch>

  <!-- depth_image_creator -->
  <node name="depth_image_creator"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/DepthImageCreator">
    <remap from="~input" to="/zed/point_cloud/cloud_registered" />
    <remap from="~info" to="/zed/left/camera_info_raw" />
    <rosparam>
      use_approximate: true
      max_queue_size: 3
      max_pub_queue_size: 1
      max_sub_queue_size: 1
    </rosparam>
  </node>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="bridge_zed-left-camera_to_camera-info" args="0 0 0 0 0 0 1 zed_left_camera esr_1" /> -\-> -->
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcl_processing)/config/depth_image_creator.rviz" required="true" />
  
</launch>
